# WRFcast Tutorial

This tutorial will walk through forecast data from your own WRF forecast model data using the wrfcast.py module within pvlib.

This tutorial has been tested against the following package versions:
* Python 
* IPython 
* pandas 
* matplotlib 
* netcdf4 1.4.2 

It should work with other Python and Pandas versions. It requires pvlib >= 0.3.0 and IPython >= 3.0.

Authors:
* Jeffrey Sward (jas983@cornell.edu), Cornell University, November 2019

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

# built in python modules
import datetime
import os
import inspect
import sys

# python add-ons
import numpy as np
import pandas as pd
import xarray as xr
import netCDF4
import wrf

# # Import the pvlib module
if sys.platform == 'linux':
    sys.path.append('/home/jsward/Documents/01_Research/01_Renewable_Analysis/WRF/pvlib-python')
import pvlib
from pvlib.wrfcast import WRF

In [ ]:
# Find the absolute file path to your pvlib installation
pvlib_abspath = os.path.dirname(os.path.abspath(inspect.getfile(pvlib)))

# absolute path to WRF data file
datapath = os.path.join(pvlib_abspath, 'data', 'wrfout_d01_2011-01-24_01:00:00')

# Read in the wrfout file using the netCDF4.Dataset method (I think you can also do this with an xarray method)
netcdf_data = netCDF4.Dataset(datapath)

In [48]:
# Create an xarray.Dataset from the wrf qurery_variables.
query_variables = [
            'Times',
            'T2',
            'U10',
            'V10',
            'SWDDNI',
            'SWDDIF'
            ]
first = True
for key in query_variables:
    var = wrf.getvar(netcdf_data, key, timeidx=wrf.ALL_TIMES)
    if first:
        solar_data = var
        first = False
    else:
        solar_data = xr.merge([solar_data, var])

variables = {
            'times': 'times',
            'XLAT': 'lat',
            'XLONG': 'lon',
            'T2': 'temp_air',
            'U10': 'wind_speed_u',
            'V10': 'wind_speed_v',
            'SWDDNI': 'dni',
            'SWDDIF': 'dhi' 
            }
solar_data = xr.Dataset.rename(solar_data, variables)
solar_data = xr.Dataset.reset_coords(solar_data, ['XTIME'], drop=True)
times = solar_data.times
solar_data = xr.Dataset.set_coords(solar_data, ['times'])
solar_data = xr.Dataset.reset_coords(solar_data, ['times'], drop=True)
ntimes = solar_data.sizes['Time']
nlat = solar_data.sizes['south_north']
nlon = solar_data.sizes['west_east']
solar_data

<xarray.Dataset>
Dimensions:       (Time: 24, south_north: 191, west_east: 191)
Coordinates:
  * Time          (Time) datetime64[ns] 2011-01-24T01:00:00 ... 2011-01-25
    lon           (south_north, west_east) float32 -95.43335 ... -64.11832
    lat           (south_north, west_east) float32 30.952759 ... 47.507103
Dimensions without coordinates: south_north, west_east
Data variables:
    temp_air      (Time, south_north, west_east) float32 287.62427 ... 264.03226
    wind_speed_u  (Time, south_north, west_east) float32 0.31499797 ... 17.972435
    wind_speed_v  (Time, south_north, west_east) float32 1.1208413 ... -1.0850167
    dni           (Time, south_north, west_east) float32 0.0 0.0 0.0 ... 0.0 0.0
    dhi           (Time, south_north, west_east) float32 0.0 0.0 0.0 ... 0.0 0.0

In [49]:
# Explore how the WRF forecast model behaves
fm = WRF()
wind_speed = fm.uv_to_speed(solar_data)
temp_air = fm.kelvin_to_celsius(solar_data['temp_air'])

In [50]:
# Convert xarray Datasets to a pandas DataFrames
solar_data = solar_data.to_dataframe()
times = times.to_dataframe()
solar_data

                                                 lon        lat    temp_air  \
Time                south_north west_east
2011-01-24 01:00:00 0           0         -95.433350  30.952759  287.624268
                                1         -95.308044  30.950832  287.592499
                                2         -95.182739  30.948757  287.163452
                                3         -95.057465  30.946545  287.356171
                                4         -94.932190  30.944153  287.152344
...                                              ...        ...         ...
2011-01-25 00:00:00 190         186       -64.714050  47.657688  263.186615
                                187       -64.564850  47.620308  262.584229
                                188       -64.415833  47.582741  263.205566
                                189       -64.266968  47.545010  263.703674
                                190       -64.118317  47.507103  264.032257

                                           wind_speed_u  wind_speed_v  dni  \
Time                south_north west_east
2011-01-24 01:00:00 0           0              0.314998      1.120841  0.0
                                1             -0.087709      1.663511  0.0
                                2             -0.358935      1.999503  0.0
                                3             -0.632014      2.513421  0.0
                                4             -0.803844      2.692272  0.0
...                                                 ...           ...  ...
2011-01-25 00:00:00 190         186           15.262465     -0.319409  0.0
                                187           15.590679     -0.548230  0.0
                                188           16.902138     -0.615797  0.0
                                189           17.802485     -0.596332  0.0
                                190           17.972435     -1.085017  0.0

                                           dhi
Time                south_north west_east
2011-01-24 01:00:00 0           0          0.0
                                1          0.0
                                2          0.0
                                3          0.0
                                4          0.0
...                                        ...
2011-01-25 00:00:00 190         186        0.0
                                187        0.0
                                188        0.0
                                189        0.0
                                190        0.0

[875544 rows x 7 columns]

In [53]:
# Run the solar position algorithm for time, lat, and lon indices, and concatonate them into a single DataFrame
# This takes PROHIBITIVELY long time...
numerical_time_indices = range(0, ntimes)
lat_indices = range(0, nlat)
lon_indices = range(0, nlon)
first = True
for num_time_idx in numerical_time_indices:
    time = times.index.get_level_values('Time')[num_time_idx]
    print(f'Time Index: {time}')
    for lat_idx in lat_indices:
        for lon_idx in lon_indices:
            
#             print(f'Time Index: {time}')
#             print(f'\tLatitude index: {lat_idx}')
#             print(f'\t\tLongitude index: {lon_idx}')
            
            solpos_new = pvlib.solarposition.spa_xarray_python(time, 
                                        solar_data['lat'].loc[time, lat_idx, lon_idx], 
                                        solar_data['lon'].loc[time, lat_idx, lon_idx], lat_idx, lon_idx)
            
            if first:
                solpos = solpos_new
                first = False
            else:
                solpos = pd.concat([solpos, solpos_new])

Time Index: 2011-01-24 01:00:00
Time Index: 2011-01-24 02:00:00
Time Index: 2011-01-24 03:00:00
Time Index: 2011-01-24 04:00:00
Time Index: 2011-01-24 05:00:00
Time Index: 2011-01-24 06:00:00
Time Index: 2011-01-24 07:00:00
Time Index: 2011-01-24 08:00:00
Time Index: 2011-01-24 09:00:00
Time Index: 2011-01-24 10:00:00
Time Index: 2011-01-24 11:00:00
Time Index: 2011-01-24 12:00:00
Time Index: 2011-01-24 13:00:00
Time Index: 2011-01-24 14:00:00
Time Index: 2011-01-24 15:00:00
Time Index: 2011-01-24 16:00:00
Time Index: 2011-01-24 17:00:00
Time Index: 2011-01-24 18:00:00
Time Index: 2011-01-24 19:00:00
Time Index: 2011-01-24 20:00:00
Time Index: 2011-01-24 21:00:00
Time Index: 2011-01-24 22:00:00
Time Index: 2011-01-24 23:00:00
Time Index: 2011-01-25 00:00:00

In [54]:
solpos

                                           apparent_zenith      zenith  \
Time                south_north west_east
2011-01-24 01:00:00 0           0               105.261912  105.261912
                                1               105.365882  105.365882
                                2               105.469847  105.469847
                                3               105.573785  105.573785
                                4               105.677708  105.677708
...                                                    ...         ...
2011-01-25 00:00:00 190         186             118.878502  118.878502
                                187             118.980814  118.980814
                                188             119.083135  119.083135
                                189             119.185486  119.185486
                                190             119.287826  119.287826

                                           apparent_elevation  elevation  \
Time                south_north west_east
2011-01-24 01:00:00 0           0                  -15.261912 -15.261912
                                1                  -15.365882 -15.365882
                                2                  -15.469847 -15.469847
                                3                  -15.573785 -15.573785
                                4                  -15.677708 -15.677708
...                                                       ...        ...
2011-01-25 00:00:00 190         186                -28.878502 -28.878502
                                187                -28.980814 -28.980814
                                188                -29.083135 -29.083135
                                189                -29.185486 -29.185486
                                190                -29.287826 -29.287826

                                              azimuth  equation_of_time
Time                south_north west_east
2011-01-24 01:00:00 0           0          256.321518        -11.883784
                                1          256.378509        -11.883784
                                2          256.435432        -11.883784
                                3          256.492275        -11.883784
                                4          256.549038        -11.883784
...                                               ...               ...
2011-01-25 00:00:00 190         186        272.888937        -12.116229
                                187        272.981397        -12.116229
                                188        273.073569        -12.116229
                                189        273.165482        -12.116229
                                190        273.257091        -12.116229

[875544 rows x 6 columns]

In [ ]:
# This usually kills the kernel...
# solar_data['zenith'] = solpos['zenith']

In [55]:
 ghi = fm.dni_and_dhi_to_ghi(solar_data['dni'], solar_data['dhi'], solpos['zenith'])

In [56]:
solar_data['ghi'] = ghi
solar_data

                                                 lon        lat    temp_air  \
Time                south_north west_east
2011-01-24 01:00:00 0           0         -95.433350  30.952759  287.624268
                                1         -95.308044  30.950832  287.592499
                                2         -95.182739  30.948757  287.163452
                                3         -95.057465  30.946545  287.356171
                                4         -94.932190  30.944153  287.152344
...                                              ...        ...         ...
2011-01-25 00:00:00 190         186       -64.714050  47.657688  263.186615
                                187       -64.564850  47.620308  262.584229
                                188       -64.415833  47.582741  263.205566
                                189       -64.266968  47.545010  263.703674
                                190       -64.118317  47.507103  264.032257

                                           wind_speed_u  wind_speed_v  dni  \
Time                south_north west_east
2011-01-24 01:00:00 0           0              0.314998      1.120841  0.0
                                1             -0.087709      1.663511  0.0
                                2             -0.358935      1.999503  0.0
                                3             -0.632014      2.513421  0.0
                                4             -0.803844      2.692272  0.0
...                                                 ...           ...  ...
2011-01-25 00:00:00 190         186           15.262465     -0.319409  0.0
                                187           15.590679     -0.548230  0.0
                                188           16.902138     -0.615797  0.0
                                189           17.802485     -0.596332  0.0
                                190           17.972435     -1.085017  0.0

                                           dhi  ghi
Time                south_north west_east
2011-01-24 01:00:00 0           0          0.0  0.0
                                1          0.0  0.0
                                2          0.0  0.0
                                3          0.0  0.0
                                4          0.0  0.0
...                                        ...  ...
2011-01-25 00:00:00 190         186        0.0  0.0
                                187        0.0  0.0
                                188        0.0  0.0
                                189        0.0  0.0
                                190        0.0  0.0

[875544 rows x 8 columns]

In [57]:
solar_data = solar_data.to_xarray()
solar_data

<xarray.Dataset>
Dimensions:       (Time: 24, south_north: 191, west_east: 191)
Coordinates:
  * Time          (Time) datetime64[ns] 2011-01-24T01:00:00 ... 2011-01-25
  * south_north   (south_north) int64 0 1 2 3 4 5 6 ... 185 186 187 188 189 190
  * west_east     (west_east) int64 0 1 2 3 4 5 6 ... 185 186 187 188 189 190
Data variables:
    lon           (Time, south_north, west_east) float32 -95.43335 ... -64.11832
    lat           (Time, south_north, west_east) float32 30.952759 ... 47.507103
    temp_air      (Time, south_north, west_east) float32 287.62427 ... 264.03226
    wind_speed_u  (Time, south_north, west_east) float32 0.31499797 ... 17.972435
    wind_speed_v  (Time, south_north, west_east) float32 1.1208413 ... -1.0850167
    dni           (Time, south_north, west_east) float32 0.0 0.0 0.0 ... 0.0 0.0
    dhi           (Time, south_north, west_east) float32 0.0 0.0 0.0 ... 0.0 0.0
    ghi           (Time, south_north, west_east) float64 0.0 0.0 0.0 ... 0.0 0.0

In [58]:
solpos = solpos.to_xarray()
solpos

<xarray.Dataset>
Dimensions:             (Time: 24, south_north: 191, west_east: 191)
Coordinates:
  * Time                (Time) datetime64[ns] 2011-01-24T01:00:00 ... 2011-01-25
  * south_north         (south_north) int64 0 1 2 3 4 5 ... 186 187 188 189 190
  * west_east           (west_east) int64 0 1 2 3 4 5 ... 186 187 188 189 190
Data variables:
    apparent_zenith     (Time, south_north, west_east) float64 105.3 ... 119.3
    zenith              (Time, south_north, west_east) float64 105.3 ... 119.3
    apparent_elevation  (Time, south_north, west_east) float64 -15.26 ... -29.29
    elevation           (Time, south_north, west_east) float64 -15.26 ... -29.29
    azimuth             (Time, south_north, west_east) float64 256.3 ... 273.3
    equation_of_time    (Time, south_north, west_east) float64 -11.88 ... -12.12

In [59]:
wrfout_new = xr.merge([solar_data, solpos])
wrfout_new

<xarray.Dataset>
Dimensions:             (Time: 24, south_north: 191, west_east: 191)
Coordinates:
  * Time                (Time) datetime64[ns] 2011-01-24T01:00:00 ... 2011-01-25
  * south_north         (south_north) int64 0 1 2 3 4 5 ... 186 187 188 189 190
  * west_east           (west_east) int64 0 1 2 3 4 5 ... 186 187 188 189 190
Data variables:
    lon                 (Time, south_north, west_east) float32 -95.43335 ... -64.11832
    lat                 (Time, south_north, west_east) float32 30.952759 ... 47.507103
    temp_air            (Time, south_north, west_east) float32 287.62427 ... 264.03226
    wind_speed_u        (Time, south_north, west_east) float32 0.31499797 ... 17.972435
    wind_speed_v        (Time, south_north, west_east) float32 1.1208413 ... -1.0850167
    dni                 (Time, south_north, west_east) float32 0.0 0.0 ... 0.0
    dhi                 (Time, south_north, west_east) float32 0.0 0.0 ... 0.0
    ghi                 (Time, south_north, west_east) float64 0.0 0.0 ... 0.0
    apparent_zenith     (Time, south_north, west_east) float64 105.3 ... 119.3
    zenith              (Time, south_north, west_east) float64 105.3 ... 119.3
    apparent_elevation  (Time, south_north, west_east) float64 -15.26 ... -29.29
    elevation           (Time, south_north, west_east) float64 -15.26 ... -29.29
    azimuth             (Time, south_north, west_east) float64 256.3 ... 273.3
    equation_of_time    (Time, south_north, west_east) float64 -11.88 ... -12.12

In [60]:
new_filename_1 = './wrfout_solar_d01_2011-01-24_01:00:00.nc'
wrfout_new.to_netcdf(path=new_filename_1)